@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@tailwind base;

@tailwind components;

/** buttons **/
.btn {
  @apply inline-block py-3 px-5;
}

.btn-primary {
  @apply bg-blue-primary text-white;
}

/*
/** inputs **/
.input {
  @apply h-12 bg-gray-100 rounded-sm outline-none px-4 text-gray-600 border border-solid border-gray-100;
}
.input:focus {
  @apply bg-white border-gray-400;
}
.input::placeholder {
  @apply text-gray-300;
}

@tailwind utilities;

/** main **/
.main__header-right {
  background: url(/assets/images/main-hero-bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% auto;
}

.main__hero-web {
  width: 100%;
  height: 100%;
}

/** product **/
.product__wrapper {
  background-image: linear-gradient(to right, #41b883, #56cf99);
}
.product__bottom-bg {
  background: rgba(0, 0, 0, 11%);
}

@screen sm {
  .container {
    max-width: 100%;
  }
}

@screen md {
  .main__header-right {
    background: url(/assets/images/main-hero-bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 75% auto;
  }

  .main__hero-web {
    width: 57%;
  }

  /** product **/
  .product__header-right-vue {
    background-image: url('/assets/images/product-right-vue.svg');
    background-repeat: no-repeat;
    background-position: center right 50px;
    background-size: 230px;
  }
}

@screen lg {
  .container {
    max-width: 1024px;
  }

  .main__header-right {
    background-size: 48% auto;
    background-position: bottom right 1.2rem;
    height: 370px;
  }

  .main__hero-web {
    width: 84%;
    margin-top: 3.6rem;
    margin-right: 0.8rem;
  }
}

@screen xl {
  .container {
    max-width: 1100px;
  }

  .main__header-right {
    background-size: 48% auto;
    background-position: bottom right 1.2rem;
    height: 394px;
  }

  .main__hero-web {
    width: 84%;
    margin-top: 3.6rem;
    margin-right: 0.8rem;
  }
}
